<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
  <div class="container">
    <div class="row">
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area d-flex mb-30">
          <!-- Logo -->
          <div class="footer-logo mr-50">
            <a href="#"><img alt="" src="./assets/img/core-img/logo2.png" /></a>
          </div>
          <!-- Footer Menu -->
          <div class="footer_menu">
            <ul>
              <li><a href="shop.html">Shop</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area mb-30">
          <ul class="footer_widget_menu">
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Payment Options</a></li>
            <li><a href="#">Shipping and Delivery</a></li>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row align-items-end">
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area">
          <div class="footer_heading mb-30">
            <h6>Subscribe</h6>
          </div>
          <div class="subscribtion_form">
            <form action="#" method="post">
              <input
                class="mail"
                name="mail"
                placeholder="Your email here"
                type="email"
              />
              <button class="submit" type="submit">
                <i aria-hidden="true" class="fa fa-long-arrow-right"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area">
          <div class="footer_social_area">
            <a
              data-placement="top"
              data-toggle="tooltip"
              href="#"
              title="Facebook"
              ><i aria-hidden="true" class="fa fa-facebook"></i
            ></a>
            <a
              data-placement="top"
              data-toggle="tooltip"
              href="#"
              title="Instagram"
              ><i aria-hidden="true" class="fa fa-instagram"></i
            ></a>
            <a
              data-placement="top"
              data-toggle="tooltip"
              href="#"
              title="Twitter"
              ><i aria-hidden="true" class="fa fa-twitter"></i
            ></a>
            <a
              data-placement="top"
              data-toggle="tooltip"
              href="#"
              title="Pinterest"
              ><i aria-hidden="true" class="fa fa-pinterest"></i
            ></a>
            <a
              data-placement="top"
              data-toggle="tooltip"
              href="#"
              title="Youtube"
              ><i aria-hidden="true" class="fa fa-youtube-play"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | Made with
          <i aria-hidden="true" class="fa fa-heart-o"></i> by
          <a href="https://colorlib.com" target="_blank">Colorlib</a>,
          distributed by
          <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ##### Footer Area End ##### -->
