<!-- ##### CTA Area Start ##### -->
<div class="cta-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="cta-content bg-img background-overlay"
          style="background-image: url(./assets/img/bg-img/bg-5.jpg)"
        >
          <div class="h-100 d-flex align-items-center justify-content-end">
            <div class="cta--text">
              <h6>3x2</h6>
              <h2>
                Ofertas por <br />
                inauguración
              </h2>
              <a class="btn essence-btn" [routerLink]="catalogPath">Ver catalogo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### CTA Area End ##### -->
