<div class="single-product-wrapper clickable" (click)="goToProduct()">
  <!-- Product Image -->
  <div class="product-img">
    <app-shop-product-preview [product]="product"></app-shop-product-preview>

    <!-- Product Badge -->
    <app-shop-product-discount [prices]="product.prices">
    </app-shop-product-discount>

    <div
      class="product-badge offer-badge"
      *ngIf="inventoryQty === 0"
    >
      <span>Agotado</span>
    </div>

    <div
      class="product-badge offer-badge"
      *ngIf="inventoryQty > 0 && inventoryQty <= 3"
    >
      <span>Último{{inventoryQty > 1 ? 's ' + inventoryQty + ' productos' : ' producto'}}</span>

    </div>

    <!-- Favourite -->
<!--    <div class="product-favourite">-->
<!--      <a class="favme fa fa-heart" href="#"></a>-->
<!--    </div>-->
  </div>

  <!-- Product Description -->
  <div class="product-description">
<!--    <span>topshop</span>-->
    <a href="single-product-details.html">
      <h6>{{ product.name | uppercase }}</h6>
    </a>
    <app-shop-product-price [prices]="product.prices"> </app-shop-product-price>

    <!-- Hover Content -->
    <div class="hover-content">
      <!-- Add to Cart -->
      <div class="add-to-cart-btn">
        <a class="btn essence-btn" [routerLink]="productViewPath + product.id">Ver</a>
      </div>
    </div>
  </div>
</div>
