<app-shop-welcome></app-shop-welcome>

<app-shop-welcome-categories></app-shop-welcome-categories>

<app-shop-call-to-action></app-shop-call-to-action>

<app-shop-new-arrivals></app-shop-new-arrivals>
<app-shop-brands></app-shop-brands>
