<div class="shop_sidebar_area">
  <!-- ##### Single Widget ##### -->
  <div class="widget catagory mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Categorías</h6>

    <!--  Catagories  -->
    <div class="catagories-menu">
      <ul class="menu-content collapse show" id="menu-content2">
        <!-- Single Item -->
        <li
          *ngFor="let category of categories"
          data-target="#clothing"
          data-toggle="collapse"
        >
          <a
            *ngIf="!category.parent_id"
            [routerLink]="categoriesPath + '/' + category.id"
            >{{ category.name }}</a
          >
          <ul class="sub-menu collapse show" id="clothing">
            <li *ngFor="let subcategory of categories">
              <a
                *ngIf="category.id === subcategory.parent_id"
                [routerLink]="categoriesPath + '/' + subcategory.id"
                >{{ subcategory.name }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
