<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Productos Populares</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="popular-products-slides owl-carousel">
          <!-- Single Product -->
          <div class="single-product-wrapper">
            <!-- Product Image -->
            <div class="product-img">
              <img
                alt=""
                src="./assets/./assets/img/product-img/product-1.jpg"
              />
              <!-- Hover Thumb -->
              <img
                alt=""
                class="hover-img"
                src="./assets/./assets/img/product-img/product-2.jpg"
              />
              <!-- Favourite -->
              <div class="product-favourite">
                <a class="favme fa fa-heart" href="#"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-description">
              <span>topshop</span>
              <a href="single-product-details.html">
                <h6>Knot Front Mini Dress</h6>
              </a>
              <p class="product-price">$80.00</p>

              <!-- Hover Content -->
              <div class="hover-content">
                <!-- Add to Cart -->
                <div class="add-to-cart-btn">
                  <a class="btn essence-btn" href="#">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Product -->
          <div class="single-product-wrapper">
            <!-- Product Image -->
            <div class="product-img">
              <img
                alt=""
                src="./assets/./assets/img/product-img/product-2.jpg"
              />
              <!-- Hover Thumb -->
              <img
                alt=""
                class="hover-img"
                src="./assets/./assets/img/product-img/product-3.jpg"
              />
              <!-- Favourite -->
              <div class="product-favourite">
                <a class="favme fa fa-heart" href="#"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-description">
              <span>topshop</span>
              <a href="single-product-details.html">
                <h6>Poplin Displaced Wrap Dress</h6>
              </a>
              <p class="product-price">$80.00</p>

              <!-- Hover Content -->
              <div class="hover-content">
                <!-- Add to Cart -->
                <div class="add-to-cart-btn">
                  <a class="btn essence-btn" href="#">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Product -->
          <div class="single-product-wrapper">
            <!-- Product Image -->
            <div class="product-img">
              <img
                alt=""
                src="./assets/./assets/img/product-img/product-3.jpg"
              />
              <!-- Hover Thumb -->
              <img
                alt=""
                class="hover-img"
                src="./assets/./assets/img/product-img/product-4.jpg"
              />

              <!-- Product Badge -->
              <div class="product-badge offer-badge">
                <span>-30%</span>
              </div>

              <!-- Favourite -->
              <div class="product-favourite">
                <a class="favme fa fa-heart" href="#"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-description">
              <span>mango</span>
              <a href="single-product-details.html">
                <h6>PETITE Crepe Wrap Mini Dress</h6>
              </a>
              <p class="product-price">
                <span class="old-price">$75.00</span> $55.00
              </p>

              <!-- Hover Content -->
              <div class="hover-content">
                <!-- Add to Cart -->
                <div class="add-to-cart-btn">
                  <a class="btn essence-btn" href="#">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Product -->
          <div class="single-product-wrapper">
            <!-- Product Image -->
            <div class="product-img">
              <img
                alt=""
                src="./assets/./assets/img/product-img/product-4.jpg"
              />
              <!-- Hover Thumb -->
              <img
                alt=""
                class="hover-img"
                src="./assets/./assets/img/product-img/product-5.jpg"
              />

              <!-- Product Badge -->
              <div class="product-badge new-badge">
                <span>New</span>
              </div>

              <!-- Favourite -->
              <div class="product-favourite">
                <a class="favme fa fa-heart" href="#"></a>
              </div>
            </div>
            <!-- Product Description -->
            <div class="product-description">
              <span>mango</span>
              <a href="single-product-details.html">
                <h6>PETITE Belted Jumper Dress</h6>
              </a>
              <p class="product-price">$80.00</p>

              <!-- Hover Content -->
              <div class="hover-content">
                <!-- Add to Cart -->
                <div class="add-to-cart-btn">
                  <a class="btn essence-btn" href="#">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### New Arrivals Area End ##### -->
