<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Single Catagory -->
      <div
        *ngFor="let category of categories"
        class="col-12 col-sm-6 col-md-4 clickable"
        (click)="go(category.id)"
      >
        <div
          class="
            single_catagory_area
            d-flex
            align-items-center
            justify-content-center
            bg-img
          "
          [style]="'background-image: url('+category.image_preview+')'"
        >
          <div class="catagory-content">
            <a [routerLink]="catalogPath + category.id">{{ category.name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Top Catagory Area End ##### -->
