<div class="image-preview">
  <img alt="" [src]="'./assets/img/catalog/' + product.category_id + '/' + image1" />
  <!-- Hover Thumb -->
  <img *ngIf="image2" alt="" class="hover-img" [src]="image2" />
</div>
