<!-- ##### Welcome Area Start ##### -->
<section
  class="welcome_area bg-img background-overlay"
  style="background-image: url(./assets/img/bg-img/bg-1.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content">
          <h6></h6>
          <h2>Nuevos Productos</h2>
          <a class="btn essence-btn" [routerLink]="catalogPath"
            >ver productos</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Welcome Area End ##### -->
