<!-- ##### Brands Area Start ##### -->
<div class="brands-area d-flex align-items-center justify-content-between">
  <!-- Brand Logo -->
  <div class="single-brands-logo">
    <img alt="" src="./assets/img/core-img/brand1.png" />
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
    <img alt="" src="./assets/img/core-img/brand2.png" />
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
    <img alt="" src="./assets/img/core-img/brand3.png" />
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
    <img alt="" src="./assets/img/core-img/brand4.png" />
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
    <img alt="" src="./assets/img/core-img/brand5.png" />
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
    <img alt="" src="./assets/img/core-img/brand6.png" />
  </div>
</div>
<!-- ##### Brands Area End ##### -->
