<!-- ##### Header Area Start ##### -->
<header class="header_area">
  <div
    class="
      classy-nav-container
      breakpoint-off
      d-flex
      align-items-center
      justify-content-between
    "
  >
    <!-- Classy Menu -->
    <nav class="classy-navbar" id="essenceNav">
      <!-- Logo -->
      Brely Shop

      <!--<a class="nav-brand" href="index.html"><img src="./assets/img/core-img/logo.png" alt=""></a>-->
      <!-- Navbar Toggler -->
      <div class="classy-navbar-toggler">
        <span class="navbarToggler"
          ><span></span><span></span><span></span
        ></span>
      </div>
      <!-- Menu -->
      <div class="classy-menu">
        <!-- close btn -->
        <div class="classycloseIcon">
          <div class="cross-wrap">
            <span class="top"></span><span class="bottom"></span>
          </div>
        </div>
        <!-- Nav Start -->
        <div class="classynav">
          <ul>
            <li *ngFor="let item of menu">
              <a [routerLink]="item.path">{{ item.name }}</a>
            </li>
          </ul>
        </div>
        <!-- Nav End -->
      </div>
    </nav>

    <!-- Header Meta Data -->
    <div class="header-meta d-flex clearfix justify-content-end">
      <!-- Search Area -->
      <div class="search-area">
        <form action="#" method="post">
          <input
            id="headerSearch"
            name="search"
            placeholder="Buscar..."
            type="search"
          />
          <button type="submit">
            <i aria-hidden="true" class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <!-- Favourite Area -->
      <div class="favourite-area">
        <a href="#"><img alt="" src="./assets/img/core-img/heart.svg" /></a>
      </div>
      <!-- User Login Info -->
      <div class="user-login-info">
        <a href="#"><img alt="" src="./assets/img/core-img/user.svg" /></a>
      </div>
      <!-- Cart Area -->
      <div class="cart-area">
        <a href="#" id="essenceCartBtn"
          ><img alt="" src="./assets/img/core-img/bag.svg" /> <span>3</span></a
        >
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->
