<app-shop-breadcrumb></app-shop-breadcrumb>

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
  <div class="container">
    <div class="row" >
      <div class="col-12 col-md-4 col-lg-3">
        <app-shop-filters></app-shop-filters>
      </div>

      <div class="col-12 col-md-8 col-lg-9">
        <div class="shop_grid_product_area" >
          <div class="row">
            <div class="col-12" *ngIf="products.length; else empty">
              <div
                class="
                  product-topbar
                  d-flex
                  align-items-center
                  justify-content-between
                "
              >
                <!-- Total Products -->
                <div class="total-products">
                  <p><span>{{pagination.totalItems}}</span> productos encontrados</p>
                </div>
                <!-- Sorting TODO
                <div class="product-sorting d-flex">
                  <p>Sort by:</p>
                  <form action="#" method="get">
                    <select id="sortByselect" name="select">
                      <option value="value">Highest Rated</option>
                      <option value="value">Newest</option>
                      <option value="value">Price: $$ - $</option>
                      <option value="value">Price: $ - $$</option>
                    </select>
                    <input class="d-none" type="submit" value="" />
                  </form>
                </div>
                -->
              </div>
            </div>


            <ng-template #empty>
              <div class="col-12">
                <img src="./assets/img/empty_product_banner.png" alt="No se encontró producto">
              </div>
            </ng-template>
          </div>

          <div class="row">
            <!-- Single Product -->
            <div
              class="col-12 col-sm-6 col-lg-4"
              *ngFor="let product of products"
            >
              <app-shop-product-item
                [product]="product"
              ></app-shop-product-item>
            </div>
          </div>
        </div>
        <!-- Pagination  TODO
        <nav aria-label="navigation">
          <ul class="pagination mt-50 mb-70">
            <li class="page-item">
              <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">21</a></li>
            <li class="page-item">
              <a class="page-link" href="#"
                ><i class="fa fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </nav>
        -->
      </div>
    </div>



  </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
